@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
6.0 - Misc Junk 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.0 - Target All/General Styls
-------------------------------------------------------------- */
body {
	color: #2e2e2e;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
  /* 1.2 - Body Copy */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Amatic SC', cursive;
}
h1, h2, h4, h5, h6, body > header, .center, #location, footer, .btn, ul, blockquote, .roast, .banner  {
	text-align: center;
}
h2 {
	font-size: 3.0rem;
	margin-bottom: 50px;
}
h3 {
	font-size: 1.875rem;
}
section header p {
	margin-bottom: 30px;
}
h3, .product p {
	margin: 0;
}
p.product-description {
	font-size: 0.85rem;
	margin-bottom: 40px;
}
body > header P {
	font-size: 46px;
	font-family: 'Amatic SC', cursive;
}
body > header P, .btn-product:hover, .active:hover, body > header a {
	color: #fff;
}
.bold {
	font-weight: 700;
}
.price {
	font-size: 1.25rem;
	font-weight: 700;
}
.price span {
	font-weight: 300;
	font-size: 1rem;
}
/* 1.3 - Buttons */
a {
	text-decoration: none;
	color: #a81a16;
	font-weight: 700;
}
section a:hover {
	color: #000;
}
body > header a {
	border-bottom: 2px solid transparent;
	padding-bottom: 5px;
}
body > header a:hover {
	border-bottom: solid #a81a16;
}
blockquote footer a:hover {
	color: #2e2e2e;
}
.btn {
	border: 1px solid #fff;
	background-color: transparent;
	padding: 10px 60px;
	color: #fff;
	font-size: 2rem;
}
#newsletter .btn {
	font-size: 1.0rem;
}
.btn:hover {
	background-color: #a81a16;
	border: #a81a16;
	color: #fff;
}
.shop {
	border: 10px solid #a81a16;
	background-color: green;
	color: yellow;
}
.btn-product, .product .active {
	padding: 10px;
	color: #2E2E2E;
}
.btn-product {
	border: 1px solid #2E2E2E;
}
.btn-product:hover {
	background-color: #a81a16;
}
.active:hover {
	border: transparent;
}
.product .active {
	border: 2px solid red;
}
#newsletter .btn:hover {
	background-color: #161616;
	border: 1px solid #161616;
}
/* 1.4 - Forms */
label {
	display: none;
}
input[type="text"], input[type="email"], textarea {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 10px;
	width: 100%;
	margin-bottom: 15px;
	font-style: italic;
}
#newsletter input {
	width: 48%;
}
form a {
	border: 1px solid #fff;
	padding: 10px 40px;
}
form a:hover {
	background-color: #a81a16;
}
form a, footer a {
	color: #fff;
}
footer a:hover {
	color: #a81a16;
}
/* 1.5 - Lists */
ul {
	list-style-type: none;
	margin: 0;
}
body > header li {
	display: inline-block;
	padding: 4%;
}
footer li {
	display: inline-block;
	padding-right: 20px;
}
/* 1.6 - Tables */
  
/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
  /* 3.2 - Sub Menu */
  /* 3.3 - Footer Menu */
/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
  /* 3.1 - Site Structure (Site Header, Advertisement, Site Footer) */
.wrapper {
	margin: 0 auto;
	width: 75%;
	max-width: 1024px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
[class*="col-"] {
	float: left;
	padding-right: 20px;
	margin-bottom: 10px;
}
[class*="col-"]:last-of-type {
	padding-right: 0;
}
blockquote {
	padding: 66px;
	margin: 0;
	font-size: 1.438rem;
}
blockquote footer {
	padding: 0;
}
.roast {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
}
.banner {
	position: absolute;
	top: 0;
	left: 0;
	padding: 14px 30px;
	width: 100%;
}
.product .col-1-2 {
	width: 100%;
	padding: 20px;
}
.bg-red {
	margin-top: 40px; /* values need to be identical */
}
footer {
	padding: 20px;
}
#map {
	height: 300px;
	margin-top: -40px; /* values need to be identical */
}
#location {
	margin: 0;
	padding: 20px;
}
#products {
	padding-top: 30px;
	margin-top: -40px;
}

/* Media for the product cards */
@media screen and (min-width: 480px) {
.wrapper > .flex {
	-moz-display: flex;
	-o-display: flex;
	-ms-display: flex;
	-webkit-display: flex;
	display: flex;
	overflow: hidden;
	margin-bottom: 20px;
}
.flex .product {
	flex: 1;
}
.product > .white {
	height: 100%;
}
.product-img {
	height: 268px;
}
}

@media screen and (max-width: 480px) {
.flex.white {
	-moz-display: flex;
	-o-display: flex;
	-ms-display: flex;
	-webkit-display: flex;
	display: flex;
	overflow: hidden;
}
.flex .col-1-2 {
	flex: 1;
}
.product [class*="col-"] {
	margin-bottom: 0;
}
}
#newsletter {
	padding: 50px 0;
}
body > section {
	padding: 50px 0;
}
#contact {
	padding: 0;
	padding-bottom: 50px;
}
figure {
	margin: 0;
}
.show {
	display: block;
}
/* ***********************************
			RESPONVSIVE GRID MAGIC
 ************************************* */

 
/* ***********************************
			Columns
 ************************************* */
.col-1-1 {
	width: 100%;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-4 {
	width: 25%;
}
.col-1-5 {
	width: 20%;
}
.col-1-6 {
	width: 16.66%;
}
.col-1-7 {
	width: 14.28%;
}
.col-1-8 {
	width: 12.5%;
}
.col-1-9 {
	width: 11.11%;
}
.col-1-10 {
	width: 10%;
}
.col-1-11 {
	width: 9.09%;
}
.col-1-12 {
	width: 8.33%;
}
/* ***********************************
			FRACTIONS
 ************************************* */
.col-2-3 {
	width: 66.66%;
}
.col-3-4 {
	width: 75%;
}
.col-2-5 {
	width: 40%;
}
.col-3-5 {
	width: 60%;
}
.col-5-6 {
	width: 83.33%;
}
.col-5-7 {
	width: 71.42%;
}
.col-2-7 {
	width: 28.57%;
}
.col-7-8 {
	width: 87.5%;
}
.col-8-9 {
	width: 88.88%;
}
.col-9-10 {
	width: 90%;
}
.col-2-11 {
	width: 18.18%;
}
.col-9-11 {
	width: 81.81%;
}
.col-7-12 {
	width: 58.33%;
}
.col-11-12 {
	width: 91.66%;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */
body > header {
	background-image: url(../img/hero.jpg);
	background-size: cover;
	padding-bottom: 100px;
}
img {
	max-width: 100%;
}
.product-img {
	background-size: cover;
	background-position: 0;
	position: relative;
}
#sunrise {
	background-image: url(../img/packaging-sunrise.jpg);
}
#house {
	background-image: url(../img/twin-finch-packaging.jpg);
}
#evening {
	background-image: url(../img/packaging-evening-oak.jpg);
}
#midnight {
	background-image: url(../img/packaging-midnight.jpg);
}
#espresso {
	background-image: url(../img/packaging-espresso.jpg);
}
/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */
  /* 5.1 - Background Colors */
.col-center {
	float: none;
	margin: 0 auto;
}
.black {
	background-color: #161616;
	color: #fff;
}
.grey {
	background-color: #2e2e2e;
	color: #fff;
}
.red {
	background-color: #a81a16;
	color: #fff;
}
.white {
	background-color: #fff;
	color: #161616;
}

/* 5.2 - Text Colors */
  /* 5.3 - Text Sizes */
  /* 5.4 - Alignments */
  









/*----------------------------------------------------------------------------------------------------------------------------
@Media Queries
------------------------------------------------------------------------------------------------------------------------------ */









/* @Media */
@media (max-width: 480px) {
/*--------------------------------------------------------------
0.0 - Target All/General Styls
-------------------------------------------------------------- */

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
  /* 1.2 - Body Copy */
.product p {
	margin: 14px 0;
}
/* 1.3 - Buttons */
.btn-product {
	float: left;
}
/* 1.4 - Forms */
  /* 1.5 - Lists */
body > header li {
	display: inline-block;
	padding: 5px;
}
body > header li img {
	display: block;
}
#contact p {
	clear: both;
}
header ul {
	padding: 110px 0 5px;
}
nav li:nth-child(3) {
	display: block;
	position: absolute;
	top: 5px;
	left: 33%;
}
/* 1.6 - Tables */
  
/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
  /* 3.2 - Sub Menu */
  /* 3.3 - Footer Menu */
/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
  /* 3.1 - Site Structure (Site Header, Advertisement, Site Footer) */
.wrapper {
	width: 95%;
}
.col-1-4.col-sm, .col-1-8.col-sm {
	width: 25%;
}
.col-1-8 {
	width: 80%;
}
.col-1-4, .col-3-4, .col-1-6, .col-5-6, .col-1-10 {
	width: 50%;
}
.col-2-11, .col-9-11, .col-1-9, .col-8-9, .col-1-7, .col-1-11, .col-1-2, .col-1-3, .col-3-4, .col-5-6 {
	width: 100%;
}
.col-1-8, .col-1-12, .col-1-6.col-sm, .col-1-10.col-sm {
	width: 33.33%;
}
.col-7-8, .col-9-10, .col-11-12 {
	width: 66.66%;
}
.col-1-4:nth-child(2), .col-2-11, .col-9-11, .col-1-9, .col-8-9, .col-1-7, .col-1-8:nth-child(4), .col-1-6:nth-child(3), .col-1-11, .col-1-12:nth-child(3), .col-1-12:nth-child(6), .col-1-12:nth-child(9), .col-1-10:nth-child(even), .col-1-2, .col-1-3 {
	padding-right: 0;
}
.product .col-1-2 {
	width: 50%;
	padding: 20px;
}
.roast {
	width: 100%;
}
#map {
	width: 50%;
	float: left;
}
#location {
	width: 50%;
	float: right;
}
/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */
  /* 5.1 - Background Colors */

  /* 5.2 - Text Colors */
  /* 5.3 - Text Sizes */
  /* 5.4 - Alignments */
  
/*--------------------------------------------------------------
6.0 - Misc Junk here
-------------------------------------------------------------- */

}
